@societe-generale:registry=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@nestjs:registry=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@typescript-eslint=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@commitlint=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@semantic-release=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@godaddy=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/
@types=https://apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/

registry=https://registry.npmjs.org
//apps.bsc.aws.societegenerale.com/nexus/repository/npm-all/:_authToken=NpmToken.1dd8795e-b256-3528-95a4-b232b7252e33
